/* Настройка вьюпорта */
$panel-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

/* Настройка текстовых параметров */
$default-font: "Lato", "Arial", sans-serif;

/* Цвета сайта */

$light-color: #ffffff;
$title-color: #226E93;
$darktext-color: #282828;
$dark-color: #181818;
$gray-color: #787878;
$bg_body-color: #F9F9F9;
$bg_main-color: #e8e8e8;
